{% extends "_template.html.twig" %}


{% block title %}
    Clinique
{% endblock %}

{% block description %}
    Site de la clinique dentaire à VILLA DEL CARBON. La clinique se compose de 6 medecins specialisés, du materiels aux normes, et d'un appareil de radiographie.
{% endblock %}



{% block content %}
    <section id="main">
			<div id="lignepresentation">
				<img src="{{ asset('build/images/DSC07696.gif') }}" alt="Co-fondateurs de la clinique devant l'enseigne">
				<div id="carreclinique">
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore consequatur veritatis ipsam voluptate? Culpa deleniti maiores excepturi officiis?
					Aliquid expedita reiciendis dolores quam vero dolore est obcaecati error magni officia.</p>
				</div>
			</div>

			<h1>Notre Equipe Médicale</h1>
			<div class="ligneportraits">
				<div class="card middle">
					<div class="front">
						<img src="{{ asset('build/images/IsauraBarreraVelasquez.jpg') }}" alt="Photo du Sra Isaura Alaniz Barrera">
					</div>
					<div class="back">
					<div class="back-content middle">
						<p>Sra Isaura <br>BARRERA VELASQUEZ</p>
						<div class="sm"><a href="equipe.html#ibv"><i class="fas fa-id-card"></i></a></div> 
						</div>
					</div>
				</div>
				<div class="ajoutResponsive">
					<a href="equipe.html#ibv"><p class="rectifperso">Dra Isaura <br>BARRERA VELASQUEZ</p></a>
				</div>

				<div class="card middle">
					<div class="front">
						<img src="{{ asset('build/images/DrJavierAlanizGarcia.jpg') }}" alt="Photo du Dr Javier Alaniz Garcia">
					</div>
					<div class="back">
					<div class="back-content middle">
						<p>Dr Javier <br>ALANIZ GARCIA</p>
						<div class="sm"><a href="equipe.html#jag"><i class="fas fa-id-card"></i></a></div> 
						</div>
					</div>
				</div>
				<div class="ajoutResponsive">
					<a href="equipe.html#jag"><p class="rectifperso">Dr Javier <br>ALANIZ GARCIA</p></a>
				</div>

				<div class="card middle">
					<div class="front">
						<img src="{{ asset('build/images/AriadnaAlanizParedes.jpg') }}" alt="Photo Dra Ariadna Alaniz Paredes">
					</div>
					<div class="back">
					<div class="back-content middle">
						<p>Dra Adriana <br>ALANIZ PAREDES</p>
						<div class="sm"><a href="equipe.html#aap"><i class="fas fa-id-card"></i></a></div> 
						</div>
					</div>
				</div>
				<div class="ajoutResponsive">
					<a href="equipe.html#aap"><p class="rectifperso">Dra Adriana <br>ALANIZ PAREDES</p></a>
				</div>

				<div class="card middle">
					<div class="front">
						<img src="{{ asset('build/images/SraDanielaLeon.jpg') }}" alt="Photo du Srita Daniela Leon Miranda">
					</div>
					<div class="back">
					<div class="back-content middle">
						<p>Srita Danièla <br>LEON MIRANDA</p>
						<div class="sm"><a href="equipe.html#dlm"><i class="fas fa-id-card"></i></a></div> 
						</div>
					</div>
				</div>
				<div class="ajoutResponsive">
					<a href="equipe.html#dlm"><p class="rectifperso">Srita Danièla <br>LEON MIRANDA</p></a>
				</div>
				<div class="card middle">
					<div class="front">
						<img src="{{ asset('build/images/SaulAlanizGarcia.jpg') }}" alt="Photo dU Dr Saul Alaniz Garcia">
					</div>
					<div class="back">
					<div class="back-content middle">
						<p>Dr Saul <br>ALANIZ GARCIA</p>
						<div class="sm"><a href="equipe.html#sag"><i class="fas fa-id-card"></i></a></div> 
						</div>
					</div>
				</div>
				<div class="ajoutResponsive">
					<a href="equipe.html#sag"><p class="rectifperso">Dr Saul <br>ALANIZ GARCIA</p></a>
				</div>

				<div class="card middle">
					<div class="front">
						<img src="{{ asset('build/images/DraIsauraAlanizBarrera.jpg') }}" alt="Photo Dra Isaura Alaniz Barrera">
					</div>
					<div class="back">
					<div class="back-content middle">
						<p>Dra Isaura <br>ALANIZ BARRERA</p>
						<div class="sm"><a href="equipe.html#iab"><i class="fas fa-id-card"></i></a></div> 
						</div>
					</div>
				</div>
				<div class="ajoutResponsive">
					<a href="equipe.html#iab"><p class="rectifperso">Dra Isaura <br>ALANIZ BARRERA</p></a>
				</div>

				<div class="card middle">
					<div class="front">
						<img src="{{ asset('build/images/SeleneAlanizParedes.jpeg') }}" alt="Photo du Dra Selene Alaniz Paredes">
					</div>
					<div class="back">
					<div class="back-content middle">
						<p>Dra Selene <br>ALANIZ PAREDES</p>
						<div class="sm"><a href="equipe.html#sap"><i class="fas fa-id-card"></i></a></div> 
						</div>
					</div>
				</div>
				<div class="ajoutResponsive">
					<a href="equipe.html#sap"><p class="rectifperso">Dra Selene <br>ALANIZ PAREDES</p></a>
				</div>

				<div class="card middle">
					<div class="front">
						<img src="{{ asset('build/images/SraDeliaMiranda.jpg') }}" alt="Photo du Sra Delia Miranda">
					</div>
					<div class="back">
					<div class="back-content middle">
						<p>Sra Delia <br>MIRANDA</p>
						<div class="sm"><a href="equipe.html#dm"><i class="fas fa-id-card"></i></a></div> 
						</div>
					</div>
				</div>
				<div class="ajoutResponsive">
					<a href="equipe.html#dm"><p class="rectifperso">Sra Delia <br>MIRANDA</p></a>
				</div>

				<div class="card middle">
					<div class="front">
						<img src="{{ asset('build/images/AlfonsoMirandaCeron.jpg') }}" alt="Photo du Sr Alfonso Miranda Ceron">
					</div>
					<div class="back">
					<div class="back-content middle">
						<p>Sr Alfonso <br>MIRANDA CERON</p>
						<div class="sm"><a href="equipe.html#amc"><i class="fas fa-id-card"></i></a></div> 
						</div>
					</div>
				</div>
				<div class="ajoutResponsive">
					<a href="equipe.html#amc"><p class="rectifperso">Sr Alfonso <br>MIRANDA CERON</p></a>
				</div>

				<div class="card middle">
					<div class="front">
						<img src="{{ asset('build/images/anonyme.jpg') }}" alt="Icone d'une personne anonyme">
					</div>
					<div class="back">
					<div class="back-content middle">
						<p>Dra Aydee <br>ALANIZ PAREDES</p>
						<div class="sm"><a href="equipe.html#aap"><i class="fas fa-id-card"></i></a></div> 
						</div>
					</div>
				</div>
				<div class="ajoutResponsive">
					<a href="equipe.html#aap"><p class="rectifperso">Dra Aydee <br>ALANIZ PAREDES</p></a>
				</div>
			</div>
		</section>

		<section>

			<h1>Nos Equipements Médicaux</h1>

			<div id="ligneequipements">
				<div class="bloc">
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea ex deleniti quia perspiciatis voluptate enim illum tempora sint porro tempore praesentium, quis facere harum? Rerum at ratione optio quo quia?
						<br><br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur suscipit eos numquam quasi a debitis! Quam officiis hic eaque enim, ea obcaecati quia dolores, magni cupiditate nemo optio nobis explicabo.
					</p>
				</div>
				<div class="slidershow">
					<div class="slides">
						<input type="radio" name="r" id="r1" checked>
						<input type="radio" name="r" id="r2">
						<input type="radio" name="r" id="r3">
						<input type="radio" name="r" id="r4">
						<input type="radio" name="r" id="r5">
						<div class="slide s1">
							<img src="{{ asset('build/images/slide1.jpg') }}" alt="">
						</div>
						<div class="slide">
							<img src="{{ asset('build/images/slide2.jpg') }}" alt="">
						</div>
						<div class="slide">
							<img src="{{ asset('build/images/slide3.jpg') }}" alt="">
						</div>
						<div class="slide">
							<img src="{{ asset('build/images/slide4.jpg') }}" alt="">
						</div>
						<div class="slide">
							<img src="{{ asset('build/images/slide5.jpg') }}" alt="">
						</div>
					</div>
			
					<div class="navigation">
						<label for="r1" class="bar"></label>
						<label for="r2" class="bar"></label>
						<label for="r3" class="bar"></label>
						<label for="r4" class="bar"></label>
						<label for="r5" class="bar"></label>
					</div>
				</div>
				<div class="bloc">
					<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea ex deleniti quia perspiciatis voluptate enim illum tempora sint porro tempore praesentium, quis facere harum? Rerum at ratione optio quo quia?
						<br><br>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur suscipit eos numquam quasi a debitis! Quam officiis hic eaque enim, ea obcaecati quia dolores, magni cupiditate nemo optio nobis explicabo.
					</p>
				</div>
			</div>
		</section>

{% endblock %}
