{% extends "_template.html.twig" %}


{% block title %}
    Clinique
{% endblock %}

{% block description %}
    Site de la clinique dentaire à VILLA DEL CARBON. La clinique se compose de 6 medecins specialisés, du materiels aux normes, et d'un appareil de radiographie.
{% endblock %}

{% block content %}

<!-- -----------------------PARTIE SUR L EQUIPE MEDICALE----------------------------- -->

				<div id="titreEquipe">
					<h1>Des Professionnels <br>a votre service<h1>
				</div>

				{% for membre_equipe in membre_equipe_home %}
<!-- -----------------------------LISTE DE L'EQUIPE---------------------- -->
				<!-- qui englobe tous les elements d'un personnel -->
				<section>

				<!-- correspond au Flexbox gauche -->
					<div class="container" id="{{membre_equipe.id}}">
						<div class ="photoProfil">
							<div class="photoDoc">
								<div class="bouton"><a href="rendez-vous.php">Rendez-vous</a>
								</div>
									<img src={{ asset('/images/')~ membre_equipe.image }} alt="photo de" {{membre_equipe.titre}}" "{{membre_equipe.prenom}}" "{{membre_equipe.nom}}>
									<h2> {{membre_equipe.titre}}  {{membre_equipe.prenom}}  {{membre_equipe.nom}} </h2>
									<h4>{{membre_equipe.specialite}}</h4>
								<div class="plusdInfos">
									<p>+ d'informations</p>
								</div>
								<div class="infosResp">
									<h3>Métier :</h3>
									<p>{{ membre_equipe.descriptionmetier }}</p>
									<h3>Expérience</h3>
									<p>{{ membre_equipe.experience }}</p>
									<h3>Formation</h3>
									<p>{{ membre_equipe.formation }}</p>
									
								</div>
							</div>
						</div>

				<!-- correspond au Flexbox droit -->	
							
							<div class="metier">
							<ul>
								<li><h3>Métier :</h3>
									<p>{{ membre_equipe.descriptionmetier }}
									</p>
								</li>
								<li><h3>Expérience</h3>
									<p>{{ membre_equipe.experience }}</p>
								</li>
								<li><h3>Formation</h3>
									<p>{{ membre_equipe.formation }}</p>
								</li>
							</ul>
						</div>
					</div>
				</section>
				{% endfor %}


	{% endblock %}