{% extends "_template.html.twig" %}


{% block title %}
    Acceuil
{% endblock %}

{% block description %}
    Site de la clinique dentaire à VILLA DEL CARBON. La clinique vous propose la pose d'implant dentaire, chirurgie parodontale, orthodontie, pediatrie dentaire. En savoir +
{% endblock %}



{% block content %}

<!-- POPUP COVID DEBUT -->
		<div id="popupCovid">
			
			<div class="contenu">
				<h1>INFORMATION COVID-19</h1>
				<p>Chers patients,<br>Au vu des tristes circonstances sanitaires planétaires, nous tenions à vous rassurer et à vous informer que notre clinique dentaire reste ouverte jusqu’à contre ordre.
					Parce que votre santé ainsi que celles de vos proches est importante, la Clinique Alaniz a établi un protocole sanitaire strictes en accord avec les mesures gouvernementales. Aussi par mesure de sécurité, nous vous informons que lors de votre consultation, seul les enfants peuvent être accompagnés d’un parent.
					<br>Merci de votre compréhension. Prenez soin de vous et de vos proches.</p>
				
				<div class="btnStyle">
					<a id="btnNo" href="#">Fermer</a>
				</div>
			</div>
	
			

		</div>


	<!-- POPUP COVID FIN -->

		<section id="slide">
			<img src="{{ asset('build/images/Clinica-Dentalaniz.jpg') }}" alt="photo-equipe">
			<div id="intro">
				<p>Una clinica al servicio de tu salud	Dental</p>
			</div>
		</section>

		<section id="soins">
			
		<div class="ligne">
			<a href="soins.html#endotontie">
				<div class="position">
					<img src="{{ asset('build/images/endodontie.png') }}" alt="endodontie">
					<div class="textcenter">
						<h2 class="titresoins">Endodontie</h2>
					</div>
					<div class="voile">
				</div>
			</div></a>

			<a href="soins.html#implantologie">
				<div class="position">
					<img src="{{ asset('build/images/implantologie.png') }}" alt="implantologie">
					<div class="textcenter">
						<h2 class="titresoins">Implantologie</h2>
					</div>
					<div class="voile">
				</div>
			</div></a>

			<a href="soins.html#odontologie-generale">
				<div class="position">
					<img src="{{ asset('build/images/odontologie-generale.png') }}" alt="odontologie-generale">
					<div class="textcenter">
						<h2 class="titresoins">Odontologie</h2>
						<br>
						<h2 class="titresoins">Generale</h2>
					</div>
					<div class="voile">
				</div>
			</div></a>
		</div>
		<div class="ligne">
			
			<a href="soins.html#odontopediatrie">
				<div class="position">
					<img src="{{ asset('build/images/odontopediatrie.png') }}" alt="odontopediatrie">
					<div class="textcenter">
						<h2 class="titresoins">Odontopediatrie</h2>
					</div>
					<div class="voile">
				</div>
			</div></a>

			<a href="soins.html#orthodontie">
				<div class="position">
					<img src="{{ asset('build/images/orthodontie1.png') }}" alt="orthodontie">
					<div class="textcenter">
						<h2 class="titresoins">Orthodontie</h2>
					</div>
					<div class="voile">
				</div>
			</div></a>
			
			<a href="soins.html#periodontie">
				<div class="position">
					<img src="{{ asset('build/images/periodontie.png') }}" alt="periodontie">
					<div class="textcenter">
						<h2 class="titresoins">Periodontie</h2>
					</div>
					<div class="voile">
				</div>
			</div></a>
		
		</div>

		</section>

		<section id=formulaire>

			<div class="carte">
				<iframe id="cartegoogle" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1415729.1821977382!2d-100.14837060061946!3d19.857773235312738!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d23e6d8249b47b%3A0xb23f46f34e85ed99!2sConsultorio%20Dental%20Alaniz!5e0!3m2!1sfr!2sfr!4v1601827409592!5m2!1sfr!2sfr" width="500" height="400" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
			</div>

			<section id="coordonnees">
				<div class="adresse">
					<h2>Dental Alaniz</h2>
					<p>
					Villa del Carbon, 54300 Villa del Carbón, Méx., Mexique</p>
				</div>

				<div class="tel">
					<i class="fas fa-phone-square-alt"></i>
					<p>+52588 913 0077</p>
					<i class="fas fa-at"></i>
					<p>A venir</p>
				</div>

				<div class="horaires">
					<i class="far fa-clock"></i>
					<p>Ouvert du Lundi au Dimanche<br>
					de 9h00 à 21h00</p>
				</div>
			</section>

			<form class="contact">
				<div class="civilite">
					<label>Civilité</label>
						<input type="radio" value="f" name="Civilite">Femme
						<input type="radio" value="h" name="Civilite">Homme
				</div>

					

				<label for="name"></label>
					<input class="form" type="text" placeholder="Votre Nom" id="name">

					

				<label for="prenom"></label>
					<input class="form" placeholder="Votre Prénom" type="text" id="prenom">


					

				<label></label>
					<input class="form" placeholder="Votre Téléphone" type="tel" pattern="^[0-9]{10}$">

					

				<label for="email"></label>
					<input class="form" placeholder="Votre Email" type="email" id="email">

				<label for="motif"></label>
					<input class="form" placeholder="Motif" type="text" id="motif">


					

				<label for="msg"></label>
		    		<textarea id="msg" placeholder="Message" name="user_message"></textarea>

		    		

					<input id="envoyer" type="submit" value="Envoyer">
			
			</form>
			

		</section>

{% endblock %}

{% block scripts %}
{% endblock %}


