{% extends "_template.html.twig" %}


{% block title %}
    Clinique
{% endblock %}

{% block content %}
		<section id="soinsMain">
			
			<h1>Retrouvez dans notre Clinique, <br>toutes les specialites liees <br>à l' Odontologie</h1>

			<div class="descriptionSoins" id="endotontie">
				<div class="positionMain" >
					<img src="{{ asset('build/images/endodontie.png') }}" alt="endodontie">
					<div class="textcenter2">
						<h2 class="titresoins2">Endodontie</h2>
					</div>
					<a href="#">
						<div class="voileSoins">	
						</div>
					</a>
				</div>
				<div class="texteSoins">
					<p>Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem huius ordinis dignitatemque rei publicae tuis vel doloribus vel suspicionibus anteferre. Ille quidem fructum omnis ante actae vitae hodierno die maximum cepit, cum summo consensu senatus, tum iudicio tuo gravissimo et maximo.
						 Ex quo profecto intellegis quanta in dato beneficio sit laus, cum in accepto sit tanta gloria.</p>		
				</div>
			</div>
		
			<div class="descriptionSoins" id="implantologie">
				<div class="positionMain">
					<img src="{{ asset('build/images/implantologie.png') }}" alt="implantologie">
					<div class="textcenter2">
						<h2 class="titresoins2">Implantologie</h2>
					</div>
					<a href="#">
						<div class="voileSoins">	
						</div>
					</a>
				</div>
				<div class="texteSoins">
					<p>Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem huius ordinis dignitatemque rei publicae tuis vel doloribus vel suspicionibus anteferre. Ille quidem fructum omnis ante actae vitae hodierno die maximum cepit, cum summo consensu senatus, tum iudicio tuo gravissimo et maximo.
						 Ex quo profecto intellegis quanta in dato beneficio sit laus, cum in accepto sit tanta gloria.</p>		
				</div>
			</div>
		
			<div class="descriptionSoins" id="odontologie-generale">
				<div class="positionMain">
					<img src="{{ asset('build/images/odontologie-generale.png')}}"alt="odontologie-generale">
					<div class="textcenter2">
						<h2 class="titresoins2">Odontologie Générale</h2>
					</div>
					<a href="#">
						<div class="voileSoins">	
						</div>
					</a>
				</div>
				<div class="texteSoins">
					<p>Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem huius ordinis dignitatemque rei publicae tuis vel doloribus vel suspicionibus anteferre. Ille quidem fructum omnis ante actae vitae hodierno die maximum cepit, cum summo consensu senatus, tum iudicio tuo gravissimo et maximo.
						 Ex quo profecto intellegis quanta in dato beneficio sit laus, cum in accepto sit tanta gloria.</p>		
				</div>
			</div>

			<div class="descriptionSoins" id="odontopediatrie">
				<div class="positionMain">
					<img src="{{ asset('build/images/odontopediatrie.png') }}" alt="odontopediatrie">
					<div class="textcenter2">
						<h2 class="titresoins2">Odontopediatrie</h2>
					</div>
					<a href="#">
						<div class="voileSoins">	
						</div>
					</a>
				</div>
				<div class="texteSoins">
					<p>Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem huius ordinis dignitatemque rei publicae tuis vel doloribus vel suspicionibus anteferre. Ille quidem fructum omnis ante actae vitae hodierno die maximum cepit, cum summo consensu senatus, tum iudicio tuo gravissimo et maximo.
						 Ex quo profecto intellegis quanta in dato beneficio sit laus, cum in accepto sit tanta gloria.</p>		
				</div>
			</div>
			
			<div class="descriptionSoins" id="orthodontie">
				<div class="positionMain">
					<img src="{{ asset('build/images/orthodontie1.png') }}" alt="orthodontie">
					<div class="textcenter2">
						<h2 class="titresoins2">Orthodontie</h2>
					</div>
					<a href="#">
						<div class="voileSoins">	
						</div>
					</a>
				</div>
				<div class="texteSoins">
					<p>Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem huius ordinis dignitatemque rei publicae tuis vel doloribus vel suspicionibus anteferre. Ille quidem fructum omnis ante actae vitae hodierno die maximum cepit, cum summo consensu senatus, tum iudicio tuo gravissimo et maximo.
						 Ex quo profecto intellegis quanta in dato beneficio sit laus, cum in accepto sit tanta gloria.</p>		
				</div>
			</div>
			
			<div class="descriptionSoins" id="periodontie">
				<div class="positionMain">
					<img src="{{ asset('build/images/periodontie.png') }}" alt="periodontie">
					<div class="textcenter2">
						<h2 class="titresoins2">Periodontie</h2>
					</div>
					<a href="#">
						<div class="voileSoins">	
						</div>
					</a>
				</div>
				<div class="texteSoins">
					<p>Intellectum est enim mihi quidem in multis, et maxime in me ipso, sed paulo ante in omnibus, cum M. Marcellum senatui reique publicae concessisti, commemoratis praesertim offensionibus, te auctoritatem huius ordinis dignitatemque rei publicae tuis vel doloribus vel suspicionibus anteferre. Ille quidem fructum omnis ante actae vitae hodierno die maximum cepit, cum summo consensu senatus, tum iudicio tuo gravissimo et maximo.
						 Ex quo profecto intellegis quanta in dato beneficio sit laus, cum in accepto sit tanta gloria.</p>		
				</div>
			</div>

			</section>
			
		{% endblock %}