{% extends "base.html.twig" %}

{% block nav %}

    	<header id="header">
			<a href="{{ path('Home')}}">
				<img src="{{ asset('build/images/logo.png') }}" alt="logo">
			</a>
		</header>
		<nav id="navigation">
			<a href="{{ path('Home')}}" id="dv" >
				<div></div>
			</a>

			<a href="{{ path('admin_') }}" class="boutonmenu">
				<p>Admin</p>
			</a>
			
			<a href="{{ path('admin_membre_equipe_list') }}" class="boutonmenu">
				<p>Equipe</p>
			</a>

            <a href="{{path('patient_list')}}"  class="boutonmenu">
				<p>Patients</p>
			</a>

			<a class="boutonmenu" href="{{ path('app_logout') }}">
                Déconnexion
            </a>

			<h1 class="logoAdmin"><i class="fas fa-user-lock"></i></h1>

</div>

		</nav>

	<!-- MENU BURGER -->

		<div class="toggle_btn">
			<i class="fas fa-bars"></i>
		</div>

		<div class="menu nav">
			<a href={{ path('Home') }}>Accueil</a>
			<a href="{{ path('admin_') }}">Admin</a>
			<a href="{{ path('admin_membre_equipe_list') }}">Equipe</a>
			<a href="{{path('patient_list')}}">Patients</a>
			<a class="boutonmenu" href="{{ path('app_logout') }}">Déconnexion</a>
		</div>

	<!-- FIN MENU BURGER -->

	

{% endblock %}

{% block footer %}
		<footer>
			<div class="footerstyle">

				<div class="reseaux">
					<a href="https://www.google.com/maps?ll=19.725706,-99.467735&z=7&t=m&hl=fr&gl=FR&mapclient=embed&cid=12844062673092341145" title="Localisez-nous" target="_blank">
						<i class="fas fa-map-marker-alt"></i>
					</a>
					
					<a href="https://fr-fr.facebook.com/public/Clinica-Dental-Alaniz" title="Suivez-nous" target="_blank">
						<i class="fab fa-facebook-square"></i>
					</a>

					<a href="https//wwww.instagram.com" title="Suivez-nous" target="_blank">
						<i class="fab fa-instagram"></i>
					</a>
				</div>	
				<div id="hautdepage">
					<i class="fas fa-sort-up"></i>
				</div>
			</div>
			<div class="mentions">
				<a href="https://www.google.com/maps?ll=19.725706,-99.467735&z=7&t=m&hl=fr&gl=FR&mapclient=embed&cid=12844062673092341145" target="_blank">Villa del Carbon, 54300 Villa del Carbón, Méx.</a><br>
				<a href="mentionslegales.html">Mentions legales</a><a href="{{ path('app_login') }}">Gestion administrateur</a>
			</div>
		</footer>
{% endblock %}