
<h1>Demande de rendez-vous</h1>
<p>Nom : {{patient.nom}}</p>
<p>prénom : {{patient.Prenom}}</p>
<p>e-mail : {{patient.Email}}</p>
<p>Téléphone : {{patient.Telephone}}</p>

<p>Message : {{message}}</p>