
<h1>Nouveau contact</h1>


<p>Medecin : {{medecin}} souhaité</p>
<p>Nom du patient: {{patient.nom}}</p>
<p>Prenom du patient  : {{patient.Prenom}}</p>
<p>e-mail  du patient: {{patient.Email}}</p>



<p>Motif du rendez-vous: {{motif}}</p>
<p>Message du patient : {{message}}</p>


