
<<<<<<< HEAD
<h1>Demande de rendez-vous</h1>
<p>Nom : {{patient.nom}}</p>
<p>prénom : {{patient.Prenom}}</p>
<p>e-mail : {{patient.Email}}</p>
<p>Téléphone : {{patient.Telephone}}</p>
<p></p>
<p>Message : {{message}}</p>
=======
<h1>Nouveau contact</h1>


<p>Nom du patient: {{patient.nom}}</p>
<p>Prenom du patient  : {{patient.Prenom}}</p>
<p>e-mail  du patient: {{patient.Email}}</p>



<p>Motif du rendez-vous: {{motif}}</p>
<p>Message du patient : {{message}}</p>


>>>>>>> 8d71590c24bbf07f302e704f6051131e4b6b4fa4
