{% extends "base.html.twig" %}

{% block nav %}

    	<header id="header">
			<a href="{{ path('Home')}}">
				<img src="{{ asset('build/images/logo.png') }}" alt="logo">
			</a>

			<div id="coordHeader">
				<p>Ouvert du Lundi au Dimanche<br>
					de 9h00 à 21h00</p>
				<i class="fas fa-phone-square-alt"></i>
					<span> +52588 913 0077</span>

			</div>
		</header>
		<nav id="navigation">
			<a href="{{ path('Home')}}" id="dv" >
				<div></div>
			</a>
			<a href="{{ path('Clinique') }}" class="boutonmenu">
				<p>Clinique</p>
			</a>
			<a href="{{ path('Soins') }}"  class="boutonmenu">
				<p>Soins</p>
			</a>
			<a href="{{ path('Equipe') }}" class="boutonmenu">
				<p>Equipe</p>
			</a>
			<a href="{{ path('Rendez_vous') }}" class="boutonmenu">
				<p>Rendez-vous</p>
			</a>

			{# <div class="buttons" style="width: 180px">
			<a href="#" class="button is-light is-big">
			<p>  Connexion  </p>  	
			</a> #}
</div>

		</nav>

	<!-- MENU BURGER -->

		<div class="toggle_btn">
			<i class="fas fa-bars"></i>
		</div>

		<div class="menu nav">
			<a href="index.html">Accueil</a>
			<a href="clinique.html">Clinique</a>
			<a href="soins.html">Soins</a>
			<a href="equipe.html">Equipe</a>
			<a href="rendez-vous.html">Rendez-vous</a>
		</div>

	<!-- FIN MENU BURGER -->

{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
		<footer>
			<div class="footerstyle">

				<div class="reseaux">
					<a href="https://www.google.com/maps?ll=19.725706,-99.467735&z=7&t=m&hl=fr&gl=FR&mapclient=embed&cid=12844062673092341145" title="Localisez-nous" target="_blank">
						<i class="fas fa-map-marker-alt"></i>
					</a>
					
					<a href="https://fr-fr.facebook.com/public/Clinica-Dental-Alaniz" title="Suivez-nous" target="_blank">
						<i class="fab fa-facebook-square"></i>
					</a>

					<a href="https://www.instagram.com/?hl=fr" title="Suivez-nous" target="_blank">
						<i class="fab fa-instagram"></i>
					</a>
				</div>	
				<div id="hautdepage">
					<i class="fas fa-sort-up"></i>
				</div>
			</div>
			<div class="mentions">
				<a href="https://www.google.com/maps?ll=19.725706,-99.467735&z=7&t=m&hl=fr&gl=FR&mapclient=embed&cid=12844062673092341145" target="_blank">Villa del Carbon, 54300 Villa del Carbón, Méx.</a><br>
				<a href="{{ path('Mentions_legales') }}">Mentions legales</a><a href="{{ path('app_login') }}">Gestion administrateur</a>
			</div>
		</footer>
{% endblock %}
