{% extends "admin/_template.html.twig" %}

{% block title %}
    Membres de l'équipe
{% endblock %}

{% block content %}



    <div class="section">
        <h1 class="title">Membres de l'équipe: {{ membre_equipe_list|length }}</h1>
    </div>


    <div class="section">

         <a href="{{ path('admin_membre_equipe_add') }}">
            <h2 class="title">Ajouter un membre de l'équipe</h2>
        </a>
    </div>


    <table class="content-table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Image</th>
                    <th>Civilité</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Titre</th>
                    <th>Métier</th>
                    <th>Spécialité</th>  
                    <th>Description metier</th>  
                    <th>Experience</th>
                    <th>Formation</th>
                    <th>Modif. / Suppr.</th>       
                </tr>
            </thead>


            <tbody>
                {% for membre_equipe in membre_equipe_list %}
                    <tr>
                        <td>{{ membre_equipe.id }}</td>
                        <td> <img src="{{ asset('/images/')~ membre_equipe.image }}" alt=""></td>
                        <td>{{ membre_equipe.civilite }}</td>
                        <td>{{ membre_equipe.nom }}</td>
                        <td>{{ membre_equipe.prenom }}</td>
                        <td>{{ membre_equipe.titre }}</td>
                        <td>{{ membre_equipe.metier }}</td>
                        <td>{{ membre_equipe.specialite }}</td>
                        <td>{{ membre_equipe.descriptionmetier }}</td>
                        <td>{{ membre_equipe.experience }}</td>
                        <td>{{ membre_equipe.formation }}</td>
                        <td>
                            <a href="{{ path('admin_membre_equipe_edit', {id: membre_equipe.id}) }}" class="button is-small is-success">
                                <i class="far fa-edit"></i>
                            </a>
                            <a href="{{ path('admin_membre_equipe_delete', {id: membre_equipe.id}) }}" class="button is-small is-danger">
                                <i class="far fa-trash-alt"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>  
        </table>

{% endblock %}