{% extends "admin/_template.html.twig" %}

{% block title %}

Membre - {{membre_equipe.nom}}

{% endblock %}


{% block content %}

<div class="section">
    <h1 class="title">Suppression du membre {{membre_equipe.nom}}</h1>

        <div class="confirmation-delete">

        {{form_start(confirmation_form)}}

        
        {{form_row(confirmation_form.confirmation,
        {

            label: 'Je confirme la suppression du membre   '~ membre_equipe.nom ~ '     '

        })}}

        

        <button type="submit" id="bouton-supprimer">Supprimer</button>

        {{form_end(confirmation_form)}}

        </div>


</div>


{% endblock %}
