{% extends "admin/_template.html.twig" %}

{% block title %}
    Membres de l'équipe
{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Membres de l'équipe: {{ membre_equipe_list|length }}</h1>
{# {% include 'includes/flash.html.twig' %} #}
        <table >
        <thead>
            <tr>
                <td>Civilite</td>
                <td>Titre</td>
                <td>Nom</td>
                <td>Prenom</td>
                <td>Metier</td>
                <td>Specialite</td>
                <td>Description du metier</td>
                <td>Experience</td>
                <td>Formation</td>
                <td>
                    {# <a href="{{ path('admin_membre_equipe_add') }}" class="button is-info is-small"> #}
                        {# Nouveau membre de l'équipe #}
                    </a>
                </td>
            </tr>
            </thead>
            <tbody>
            {% for membre_equipe in membre_equipe_list %}
                <tr>
                    <td>{{ membre_equipe.civilite }} </td>
                    <td>{{ membre_equipe.titre }} </td>
                    <td>{{ membre_equipe.nom }}</td>
                    <td>{{ membre_equipe.prenom }}</td>
                    <td>{{ membre_equipe.metier }}</td>
                    <td>{{ membre_equipe.specialite }}</td>
                    <td>{{ membre_equipe.descriptionmetier }}</td>
                    <td>{{ membre_equipe.experience }}</td>
                    <td>{{ membre_equipe.formation }}</td>
                    <td> <img src={{ asset('/build/images/ImagesSymfony/')~ membre_equipe.image.name }}></td>



                    {# /Users/jean-christianleve/Documents/Jean-Christian/Git/git-initiation/dentalalaniz/test #}
                    <td>
                        <a href="{{ path('admin_membre_equipe_edit', {id: membre_equipe.id}) }}" class="button is-small is-success">
                            <i class="fas fa-edit"> Modifier</i>
                        </a>

                        
                        <a href="{{ path('admin_membre_equipe_delete', {id: membre_equipe.id}) }}" class="button is-small is-danger">
                            <i class="fas fa-trash-alt">Supprimer</i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


