{% extends "admin/_template.html.twig" %}

{% block title %}
    Suppression de {{ patient.civilite }} {{ patient.nom }} {{ patient.prenom }}
{% endblock %}

{% block content %}
    <div class="sectionDelete">
        <h1 class="title">Suppression du patient {{ patient.nom }}</h1>

        <div class="confirmation-delete">
        {{ form_start(confirmation_form) }}

            {{ form_row(confirmation_form.confirmation, {
                label: 'Je confirme la suppression du patient ' ~ ' ' ~ patient.nom  ~ ' ' ~ ' et de ses coordonnées. '
            }) }}
        

            <button type="submit" id="bouton-supprimer">
                Supprimer
            </button>

        {{ form_end(confirmation_form) }}
        </div>
    </div>
{% endblock %}